[Unit]
Description=Core
After=multi-user.target
Wants=multi-user.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/rzans_vpn_main
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStartPre=/opt/rzans_vpn_main/firewall/up.sh
ExecStart=/opt/rzans_vpn_main/proxy.py
ExecStop=/opt/rzans_vpn_main/firewall/down.sh
ExecStopPost=-/bin/sleep 1
Restart=on-failure
RestartSec=3
LimitNPROC=infinity
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target