#/etc/systemd/system/first_init.service
[Unit]
Description=One-time bootstrap: disable systemd-resolved, switch local DNS, apply settings
DefaultDependencies=no
Before=network-pre.target network.target network-online.target firewall.service AdGuardHome.service
Before=kresd@1.service kresd@2.service kresd@3.service kresd@4.service
Before=proxy.service wg-quick@rzans_svpn_main.service wg-quick@rzans_fvpn_main.service
After=local-fs.target
#Wants=network-pre.target
ConditionPathExists=/opt/rzans_vpn_main/settings/settings.sh

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/opt/rzans_vpn_main/settings/settings.sh --switch-system-resolve
ExecStart=/opt/rzans_vpn_main/settings/settings.sh --apply-all
TimeoutStartSec=120s
# Отключаем себя после успешного запуска, не пытаясь «гасить» во время Start
ExecStartPost=/usr/bin/systemctl disable %N
ExecStartPost=/bin/sh -c 'rm -f /etc/systemd/system/%N; /usr/bin/systemctl daemon-reload'

[Install]
WantedBy=network-pre.target
